.divPadre{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.divHijo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 72vw;
}
.sacarEstilo{
    text-decoration: none;
}
.centrarDiv{
    display: flex;
    justify-content: center;
    align-content: center;
}
.acomodoBoton{
    width: 25vw;
    justify-content: center;
}
