.fondoCarta{
    display: flex;
    min-height: 100vh;
    background: url('../../assets/images/fondoCarta.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.acomodo{
    margin-top: 100px;
}
.acomodo2{
    width: 100vw;
    display: flex;
    justify-content: center;
}