.form{
    background-color: rgba(0, 0, 0, 0.774);
    border-radius: 30px;
    color: white;
    width: 40vw;
    height: 75vh;
    font-weight: 00;
    margin-bottom: 50px;

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.acomodoFormulario{
    display: flex;
    flex-direction: column;
    opacity: 8;
}



