.acomodoGeneral{
    width: 100vw;
    height: max-content;
    display: flex;
    background-color: black;
    
}
.acomodoImagenes{
    margin-top: ;
    height: 650px;
    width: 33.182vw;
    border: solid 1px gray;
}