.acomodoGeneral{
    background-color: rgb(129, 129, 129);
    width: 1250px;
    margin-left: 50px;
    display: grid;
}
.acomodoItemList{
    margin: 50px;
    text-align:center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}